:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  width: 100%;
  z-index: 1;
}

.game-wrapper {
  flex: 1;
  position: relative;
  overflow: hidden;
}

#game-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* navigation link */
* {
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  padding: 0 24px;
}

.brand {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-decoration: none;
  color: var(--fg);
  letter-spacing: 0.3px;

  margin-right: auto;
  white-space: nowrap;
}

.nav-links {
  display: flex;
  gap: 14px;
  align-items: center;
}

.nav-link {
  color: var(--fg);
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 8px;
  transition: transform 120ms ease, background 120ms ease;
}

.nav-link:hover {
  background: rgba(216, 165, 165, 0.162);
  transform: translateY(-1px);
}

/* Active route style via NavLink */
.nav-link[aria-current="page"] {
  background: rgba(145, 35, 234, 0.511);
  outline: 1px solid rgba(146, 80, 245, 0.915);
}

.logout-btn {
  background: transparent;
  border: 1px solid rgba(226, 232, 240, 0.5);
  color: var(--fg);
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.logout-btn:hover {
  border-color: var(--accent-2);
  color: var(--accent-2);
}
